<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Retail Upskill test Suite">
   <test name = "Registration test">
      <classes>
<!--          <class name = "com.training.sanity.tests.RetailRegisterTest" />  -->
	          <class name = "com.training.regression.tests.LoginMultipleValuesTest" />    

 
   			 
      </classes>
   </test>
</suite>	